*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color:white;
    margin-top:1px; 
    border-top:1px solid white;
}