@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Merriweather&family=Mochiy+Pop+P+One&family=Mulish:wght@300&family=Oswald:wght@300;400&family=Raleway:wght@500&family=Roboto+Slab&display=swap');

.image_information{
    display:flex;
    justify-content: center;
    align-items: center;
    /* border:5px solid red; */
    box-shadow: 5px 5px 10px rgb(84, 85, 89);
    background-color: aliceblue;
    font-family: 'Roboto Slab';
    font-size:20px;
    width:80%;
    position: relative;
    left:10%;
    top:70px;
}

.picture_value{
    border-right:2px solid black;
    height: 500px;
    padding:1%;

}

.img_value{
    width:100%;
    height:100%;
}

.image_value{
    /* border:2px solid blue; */
    /* height:100%; */
    width:50%;
    padding:5%;
}

.image_info_value{
    padding:2%;
}

.show_info{
    margin-top:5%;
    background-color: black;
    color: white;
    width:40%;
    padding:2%;
    animation:show_info 1s ease-in-out 1 forwards;
}
.icon_choice1{
    margin-right:10%;
    cursor: pointer;
}

.icon_choice2{
    margin-right:10%;
    cursor: pointer;
    color:blueviolet
}

.icon_choice1:hover{
    color:rgb(49, 36, 93);
    transform:scale(1.5);
    transition:0.5s;
}

.download_button{
    padding:1%;
    border-radius:10px;
    width:80%;
}
.download_button:hover{
    transform:scale(1.2);
    transition:0.5s;
}
.detail_label{
    font-weight: bold;
}

.msg-save-icon-2{
    cursor:pointer;
}
.msg-save-icon-2:hover{
    transform: scale(1.2);
    transition: 0.5s;
    color:rgb(49, 36, 93);
}

.msg-save-icon-1{
    color: red;
    
}

.msg-edit-icon-1{
    margin-left:10%;
    color:red;
}
.msg-edit-icon-2:hover{
    transform: scale(1.2);
    transition: 0.5s;
    color:rgb(49, 36, 93);
    margin-left:10%;
}
.msg-edit-icon-2{
    cursor:pointer;
    margin-left:10%;
}
#created{
    cursor: pointer;
}
@media screen and (max-width:845px){
    .image_information{
        display: block;
        
    }
    .picture_value{
        /* border-bottom:2px solid black; */
        text-align: center;  
        border-right:none;
    }
    .img_value{
        width:auto;
        height: 100%;
        padding-bottom:1%;
        border-bottom: 2px solid black;
    }
}