@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Luckiest+Guy&family=Merriweather&family=Mochiy+Pop+P+One&family=Mulish:wght@300&family=Oswald:wght@300;400&family=Raleway:wght@500&family=Roboto+Slab&display=swap');

.message{
    position: relative;
    left:1%;
    top:50px;
    background-color:rgba(0,0,0,0.85);
    color:white;
    width:20%;
    animation:appear 1s ease-in-out; 
    /* transition: 2s; */
    font-family: 'Noto Serif';
    font-size: 20px;
    padding:0.3%;   
    border-radius:20px;
}

.message-body{
    padding:5%;
    /* display:inline; */
}
.msg-text{
    display:inline;
}
.msg-icon{
    padding-left:5%;
}
/* @keyframes appear {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
} */

