@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Merriweather&family=Mochiy+Pop+P+One&family=Mulish:wght@300&family=Oswald:wght@300;400&family=Raleway:wght@500&display=swap');

.profile_area{
    min-height:100vh;
    background-color: rgb(244, 241, 250);
    display:flex;
    justify-content: center;
    align-items : center; 
    font-size: 15px;
}
.profile_content{
    /* height: 100vh; */
    width:500px;
    /* background-color: brown; */
    background-color: rgb(228, 241, 241);
    box-shadow: 5px 5px 10px rgb(113, 118, 153);
    display:flex;
    justify-content: center;
    align-items : center;  
    padding:1%;
}
.profile_pic{
    
    position: relative;
    /* top:-30%;
    left:-30%; */
    /* padding:10%; */
    width:100%;
    height: 100%;
    
    /* background-color: red; */
}

.profile_icon:hover{
    background-color: black;
    transition:0.5s;
    
    color:white;
}
.profileImage{
    width:100%;
    /* background-color: blue; */
    border:1px solid black;
    height: 100%;
    text-align: center;
    margin-bottom:5%;
    /* padding:5%; */
}
.profile_icon{
/* width:100px; */
position: relative;
/* border:2px solid black; */
/* border-radius: 10%; */
/* padding-left:5%; */
cursor: pointer;
width:100%;
background-color: rgb(147, 197, 166);
text-align: center;
margin-bottom:5%;
padding:1%;
/* top:100px; */

/* margin-right: 50%; */
}

.profileimg{
    width:100%;
}
.profile_info{
    width:100%;
    height: 100%;
    font-family: "Raleway";
    font-weight: 500;
    border-left:2px solid black;
    margin-left:3%;
}

.label_output,.info_output{
    display: inline; 
}
.label_output,.info_input{
    display:inline;
}
.label_output{
    font-weight: bold;
}
.info_output{
    padding:1%; 
}
.info_input{
    padding:1%;
    display: inline;
    margin-top:1%;
    outline:none;
    background: none;
    border:none;
    border-bottom:1.5px solid black;
}

.profile_user_info{
    padding-top:10%;
    padding-left:10%;
    padding-bottom: 5%;
    width: 100%;
    
}

@media screen and (max-width:1000px){
    .profile_content{
        display: block;
    }
    .profile_info{
        border-left:none;
        /* border-top:2px solid black; */
        margin-top:5%;
        padding-left:none;
    }
    .profile_pic{
        padding-bottom:5%;
        border-bottom:2px solid black
    }
}

@media screen and(max-width:650px){
    .profile_content{
        width:500px;
    }
    .profileImage{
        width:200px;
        text-align:center;
    }
    .profileImageIcon{
        width:50%;
    }
}