/* @import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Josefin+Sans&family=Luckiest+Guy&family=Merriweather&family=Mochiy+Pop+P+One&family=Mulish:wght@300&family=Oswald:wght@300;400&family=Raleway:wght@500&family=Roboto+Slab&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Luckiest+Guy&family=Merriweather&family=Mochiy+Pop+P+One&family=Mulish:wght@300&family=Oswald:wght@300;400&family=Raleway:wght@500&family=Roboto+Slab&display=swap');

.remove{
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Luckiest Guy';
    font-size:20px;
}

.remove-form{
    position:relative;
    top:-175px;
    background-color: white;
    width:500px;
    height: 40%;
    box-shadow: 5px 5px 10px rgb(113, 118, 153);
    animation: remove-modal 0.3s ease-in 1 forwards;
    display:flex;
    justify-content: center;
    align-items:center
}

.remove-text{
    /* padding:30%; */
}

.remove-content,.remove-condition,.remove-btns{
    padding: 5%;
}
.remove-condition{
    border-top:1px solid black;
    color:red;
    font-family:'Josephin Sans';
    font-weight: bold;
}
.remove-btns{
    display:flex;
    justify-content: center;
    
}

#choice-yes,#choice-no{
    margin-left:30%;
    margin-right:30%;
    padding-left:5%;
    padding-right:5%;
    border-radius: 10px;
    background-color: black;
    color: white;
}

#choice-yes:hover{
    background-color: red;
}
#choice-no:hover{
    background-color: green;
}
@keyframes remove-modal{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}