.picmain{
    /* background-color: yellow; */
    height: 40vh;
    margin:10px;
    
    /* background-color: white; */
    position: relative;  
    /* display:flex; */
}

.slide{
    /* position: absolute;       */
    text-align: center;
    height: 100%;
    /* padding:20px; */
    max-width:100%;
    /* background-color: red; */
    object-fit: contain;
    color:red;
    /* background-color: black; */
    display:flex;
    justify-content: center;
    /* align-items: center; */
}

.carousel-item{
    height: 100%;
}
.slide img{
    /* height:300%; */
    position: relative;
    width:78.5%;
    
    /* margin:auto; */
    /* padding:10px; */
    /* object-fit: scale-down; */
    z-index: 4;
}

.layer {
    background-color: rgba(125, 128, 148, 0.7);
    position:absolute;
    top: 0%;
    left: 10.55%;
    width: 100%;
    height: 100%;
    z-index: 5;
    width:78.8%;
    border :4px solid black;
}

.carousel-caption{
    z-index:6;
    /* height: 50%; */
}

.carousel-indicators [data-bs-target]{
    /* background-color: red; */
    border:none;
    position: relative;
    height:100%;
    
}
